.column1 {
  width: 200px;
  float:left;
  text-align:center;
  background-color: cyan;
}

.column2 {
  width: 200px;
  float:left;
  text-align:center;
  background-color: teal;
}

.column3 {
  width: 200px;
  float:left;
  text-align:center;
  background-color: orange;
}
